<%
	let objOrdre={
	"_id": "asc",
	"nom": "asc",
	"prenom": "asc",
	"telephone": "asc"
	}

	if(typeof cle !== "undefined" && cle){
		objOrdre[cle]=ordre;
	}
%>
<table class="tableau">
 <thead>
 <th id="titreId"><a href='/trier/_id/<%= objOrdre._id %>'>ID</a></th>
 <th><a href='/trier/nom/<%= objOrdre.nom %>'><%=__('nom') %></a></th> 
 <th><a href='/trier/prenom/<%= objOrdre.prenom %>'><%=__('prenom') %></a></th>
 <th><a href='/trier/telephone/<%= objOrdre.telephone %>'><%=__('telephone') %></a></th> 
 </thead>
 <% adresse.forEach(elm => {%>
 <tr id=rangPerso>
 <td id="nomId"><%= elm._id %></td>
 <td contenteditable='true'><%= elm.nom %></td>
 <td contenteditable='true'><%= elm.prenom %></td>
 <td contenteditable='true'><%= elm.telephone %></td>
 <td><a id="det" class='detruire' href="/detruire/<%= elm._id %>"><%=__('supprimer') %></a></td>
 <td><a id="sauv" class='sauver' href="#"><%=__('modifier') %></a></td>
 </tr>
 <% }) %>
 </table>

<script type="text/javascript">
 let elmSauver = document.querySelectorAll('.sauver')
 console.log('elmSauver = ' + elmSauver.length)
 for (elm of elmSauver)
 {
 elm.addEventListener('click', function(){
 /* 
 console.log(this
 .parentNode
 .parentNode
 .children[1].innerHTML)
 */
 let laLigne = this.parentNode.parentNode
 let id = laLigne.children[0].innerHTML
 let nom = laLigne.children[1].innerHTML
 let prenom = laLigne.children[2].innerHTML
 let telephone = laLigne.children[3].innerHTML

let elmForm = document.getElementById('mon_formulaire_modifier')
 console.log(elmForm.tagName)
 let elmInput = elmForm.querySelectorAll('input')
 elmInput[0].value = id
 elmInput[1].value = nom
 elmInput[2].value = prenom
 elmInput[3].value = telephone

elmForm.submit()

 })
 } 

let elmDetruire = document.querySelectorAll('.detruire')
console.log(elmDetruire.length)
for (elm of elmDetruire)
{
    elm.addEventListener('click', function(){
    console.log(this.parentElement.parentElement.id)
    let elmTr = this.parentElement.parentElement 
    let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
   
    xhr.open('POST', "/detruire_ajax", true);
      data = { 
         "_id" : _id 
        }
        console.log(data)
        sData = JSON.stringify(data);
         console.log("sData = " + sData)
        xhr.setRequestHeader('Content-type', 'application/json');
      xhr.send(sData);
        //xhr.send('{"id":"5578575785875785785"}');
        xhr.addEventListener("readystatechange", traiterRequest, false);
    })
}		

</script>