<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
<body>

	<%- include('composants/entete') %>
	<h1>Liste</h1>

	<p>Bienvenue a l'atelier Node.js</p>
	
	<%- include('composants/form_post') %>
	<%- include('composants/adr') %>
	<%- include('composants/footer') %>
</body>
</html>